/*service section*/
#service-title-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 105, 2);
  width: 30%;
  height: 100px;
  margin: auto;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#service-title {
  color: white;
  font-weight: bolder;
  font-size: clamp(
    1rem,
    3.5vw,
    3.5rem
  ); /*text responsiveness. --  our service text*/
}

#service-description {
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem); /*text responsiveness*/
  margin: 1.5em 0;
  width: auto;
}

/*parent of service*/
.service-category-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;

  gap: 1.5em;

  padding: 0 3rem;
  flex-wrap: wrap;
}

/* service children */
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  /* flex-wrap: wrap; */
  flex: 1 1 0;
  width: 400px;
  /* height: 1000px; */
  gap: 0;
}

.service-name {
  font-weight: bolder;
}

.service-img-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.service-image {
  box-shadow: rgba(247, 105, 2, 1) 0px 5px 15px;
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  display: block;
}

.service-details {
  flex: 1; /* grows to fill, aligning bottoms */
}
